/*======== site default css ========*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*======== google fonts ========*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1200px;
    padding: 0;
    margin: 0 auto;
}

.container:before,
.container:after {
    content: "";
    clear: both;
    display: table;
}

.col-50 {
    width: 50%;
    padding: 15px 0;
    float: left;
}

.col-33 {
    width: 33.33%;
    padding: 15px 15px;
    float: left;
}

.col-20 {
    width: 20%;
    padding: 15px 15px;
    float: left;
}

.col-25 {
    width: 25%;
    padding: 15px 15px;
    float: left;
}

.col-60 {
    width: 60%;
    padding: 15px 0;
    float: left;
}

.col-80 {
    width: 80%;
    padding: 15px 0;
    float: left;
}

.col-40 {
    width: 40%;
    padding: 15px 15px;
    float: left;
}

.col-30 {
    width: 30%;
    padding: 15px 0;
    float: left;
}

.col-70 {
    width: 70%;
    padding: 15px 0;
    float: left;
}

.section-padding-top {
    padding-top: 100px;
}

.section-padding-bottom {
    padding-bottom: 100px;
}

/*======== header-top css ========*/

.header-top {
    background-image: url(../images/header-shape.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 52px;
    width: 100%;
    position: relative;
    z-index: 1;
}

.header-top:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 44px;
    background-color: #07a052;
    opacity: .8;
    z-index: -1;
}

.header-top-left span {
    font-size: 15px;
    font-weight: 500;
    color: #fff;
}

.header-top-left span {
    margin-right: 44px;
}

.header-top-left i {
    margin-right: 5px;
}

.header-top-left span a {
    text-decoration: none;
    color: #fff;
}

.header-top-right {
    float: right;
    color: #fff;
    cursor: pointer;
}

.header-top-right span {
    margin-left: 11px;
    transition: .4s;
}

span.hdr-spn {
    border-left: 1px solid #fff;
    padding: 0px 12px;
}

.header-top-right span:hover {
    color: #f1b209;
}

/*======== header-part css ========*/

header {
    background-color: #fff;
    padding: 5px 0;
}

.header-logo {
    margin-top: 8px;
    padding: 10px 0;
}

.header-logo img {
    cursor: pointer;
}

.main-menu {
    margin-top: 8px;
}

.main-menu ul li {
    list-style: none;
    display: inline-block;
    padding: 12px;
    position: relative;
}

.main-menu ul li a {
    text-decoration: none;
    color: #333;
    text-transform: uppercase;
    font-size: 14px;
    transition: .3s;
}

.main-menu ul li a:hover {
    color: #00a651;
}

.main-menu ul li span {
    position: absolute;
    height: 19px;
    width: 19px;
    background: #00a651;
    color: #fff;
    border-radius: 50%;
    font-size: 12px;
    text-align: center;
    line-height: 18px;
    top: 1px;
    right: -3px;
}

.main-menu ul {
    float: right;
}

/*======== home-part css ========*/

.home {
    background: url(../images/slider-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 800px;
    width: 100%;
}

.home-part-right {
    margin-top: 100px;
    float: right;
}

.home-part-right img {
    height: 685px;
}

.home-part-left {
    margin-top: 210px;
}

.home-part-left h1 {
    font-size: 60px;
    color: #fff;
    padding-bottom: 20px;
}

.home-part-left p {
    color: #fff;
    line-height: 30px;
    font-size: 18px;
}

.btn {
    margin-top: 45px;
    padding: 18px 39px;
    text-transform: uppercase;
    font-weight: 800;
    border: none;
    border-radius: 30px;
    font-size: 15px;
    cursor: pointer;
    transition: .4s;
}

button.btn-1 {
    background: #00A651;
    color: #fff;
}

button.btn-1:hover {
    background-color: #fff;
    color: #00A651;
    transition: .4s;
}

button.btn-2 {
    margin-left: 22px;
    color: #00a651;
}

button.btn-2:hover {
    background: #00A651;
    color: #fff;
    transition: .4s;
}

/*======== home-category-box css ========*/

.box-1 {
    background-color: #48A7D4;
}

.box-2 {
    background-color: #FDC735;
}

.box-3 {
    background-color: #307AD5;
}

.box-4 {
    background-color: #10C45C;
}

.category-box {
    padding: 46px 17px;
    display: flex;
    color: #fff;
}

section.home-category {
    margin-top: -98px;
    display: inline-block;
    margin-left: 76px;
}

.ctg-details h3 {
    font-size: 19px;
    padding-bottom: 15px;
}

.ctg-details p {
    font-size: 15px;
    line-height: 26px;
    font-weight: 500;
}

.ctg-details {
    padding-left: 18px;
}

.home-category .col-25 {
    padding: 0;
}

.category-item img:hover {
    transform: rotate(10deg);
}

/*======== about-us css ========*/

.about-pera {
    margin-left: 35px;
    margin-top: -81px;
}

.about-shape img {
    margin-top: 15px;
}

.about-pera h2 {
    text-transform: capitalize;
    font-size: 43px;
    padding-bottom: 20px;
}

.about-pera h2 span {
    color: #10C45C;
}

.about-pera p {
    color: #10C45C;
    margin-right: 16px;
    line-height: 27px;
    padding-bottom: 29px;
}

.about-btn {
    margin-left: 35px;
    line-height: 26px;
    margin-right: 57px;
}

button.btn-shadow {
    margin-top: 35px;
    letter-spacing: .5px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #00a651;
    border: none;
    color: #fff;
    font-size: 16px;
    padding: 21px 40px 21px;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 5px 0px 11px -5px #000000;
    transition: .3s;
}

button.btn-shadow:hover {
    background-color: #333333;
    color: #fff;
    transition: .3s;
}

.about-us-right {
    background: url(../images/banner-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;
}

.video {
    text-align: center;
    padding-top: 177px;
}

/*======== our courses css ========*/

.our-courses {
    background: url(../images/bg-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    width: 100%;
}

.course-item {
    margin-top: 90px;
}

.curs-pera p {
    color: #000;
}

.course-box img {
    width: 100%;
}

.course-box .course-1,
.course-box .course-2,
.course-box .course-3,
.course-box .course-4 {
    height: 250px;
    width: 100%;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.course-box img {
    height: 100%;
    width: 100%;
    transition: .3s;
}

.course-box:hover img {
    transform: scale(1.1);
    transition: .3s;
}

.course-box .admission {
    position: absolute;
    background: #00a651;
    color: #fff;
    padding: 8px 20px;
    top: 0;
    left: 0;
    font-size: 13px;
}

.course-pera {
    background: #fff;
    padding: 23px 15px;
}

.course-pera h4 {
    color: #333;
    font-size: 18px;
    padding-bottom: 12px;
}

.course-pera p {
    line-height: 24px;
    color: #8c8686;
    font-size: 15px;
}

.apply {
    background: #fff;
    padding: 30px 15px 0 15px;
    visibility: hidden;
    margin-top: -30px;
    transition: .3s;
    z-index: -1;
    display: flex;
}

.apply a {
    background: green;
    color: #fff;
    padding: 15px 40px 15px;
    text-decoration: none;
    border-radius: 0 50px 51px 0;
    margin-left: -15px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}


.course-category-box:hover .apply {
    visibility: visible;
    transition: .3s;
    margin-top: 0;
}

/*======== our achievement css ========*/

.our-achievement {
    background-color: #fff;
}

.single-count {
    margin-top: 41px;
    display: flex;
    position: relative;
}

.count {
    margin-left: 82px;
    margin-top: -56px;
}

span.cunt-1 {
    font-size: 36px;
    color: #0DAB5A;
    font-weight: 600;
    margin-left: 14px;
}

span.cunt-2 {
    font-size: 16px;
    font-weight: 600;
    display: block;
    line-height: 2;
    color: #666666;
}

.sngle-cnt:before {
    position: absolute;
    top: 5px;
    background-color: #e1dddd;
    content: "";
    width: 3px;
    height: 50px;
    right: -12px;
}

.achieve {
    margin-left: 41px;
}


/*======== student-info css ========*/

.info {
    background: url(../images/testi.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 462px;
    width: 100%;
    position: relative;
    z-index: 1;
}

.info:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #00a651;
    opacity: .95;
    z-index: -1;
    height: 100%;
    width: 100%;
}

.stdnt-info img {
    width: 100%;
}

.info-lorem {
    padding: 48px 39px;
}

span.quote-left i {
    padding-bottom: 24px;
    font-size: 18px;
    color: #fff;
}

.info-lorem p {
    color: #fff;
    line-height: 28px;
    padding-bottom: 19px;
}

.info-lorem h5 {
    color: #fff;
    font-size: 20px;
    padding-bottom: 10px;
    margin-top: 6px;
}

.info-lorem h6 {
    color: #fff;
    font-size: 14px;
}

span.quote-right i {
    font-size: 18px;
    color: #fff;
    margin-top: -5px;
    margin-left: 89%;
}

/*======== testimonial css ========*/

.testimonial-left {
    margin-top: -36px;
}

.testimonial-right {
    position: absolute;
    z-index: 1;
    right: 78px;
    margin-top: -94px;
}

/*======== register-now css ========*/

.register {
    background: url(../images/bg-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 920px;
    width: 100%;
    position: relative;
    z-index: 1;
    margin-top: 100px;
}

.regi {
    color: #fff;
}

.regi p {
    color: #fff;
}

.winter-admission {
    margin-top: 88px;
    margin-left: 173px;
}

.winter {
    position: relative;
    z-index: 1;
}

.winter-img {
    box-shadow: 0px 0px 12px 0.8px rgba(85, 220, 149, 0.3);
}

.winter-admission:hover {
    transform: rotate(2deg);
}

.add {
    position: absolute;
    margin-top: -150px;
    z-index: 1;
    margin-left: 75px;
    color: #fff;
}

.add span {
    font-size: 17px;
    margin-left: 0px;
    text-transform: uppercase;
    font-weight: 600;
}

.add h5 {
    font-size: 35px;
    padding: 10px;
    margin-left: -13px;
    letter-spacing: .5px;
}

/*======== registration-form css ========*/

.registration h3 {
    color: #fff;
    font-size: 28px;
    padding-bottom: 24px;
}

.first,
.phone {
    margin-left: -15px;
}

.registration-form input {
    width: 100%;
    padding: 14px 30px;
    font-size: 14px;
    margin-bottom: -10px;
}

.msg textarea {
    width: 100%;
    padding: 14px 30px;
    font-size: 14px;
    margin-bottom: -10px;
    height: 150px;
}

button.shadow {
    color: #00a651;
    font-weight: 900;
    padding: 19px 37px;
    margin-top: 53px;
    background-color: #fff;
}

.registration-form .col-80 {
    padding-right: 5px;
}

.registration-form .col-40 {
    padding-right: 5px;
}

/*======== best-teacher css ========*/

.teacher-img {
    height: 250px;
    width: 100%;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.teacher-img img {
    height: 100%;
    width: 100%;
    transition: all .4s ease 0s;
}

.teacher-img:hover img {
    transform: scale(1.2);
    transition: all .4s ease 0s;
}

.teacher-img .lecture {
    position: absolute;
    background: #fff;
    color: #0D8243;
    padding: 27px 20px;
    top: 166px;
    left: 90px;
    font-weight: 700;
    text-align: right;
    transition: .4s;
}

.teacher-img:hover .lecture {
    background-color: #0D8243;
    color: #fff;
    transition: .4s;
}


/*======== our event css ========*/

.our-event {
    background: url(../images/bg-3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    width: 100%;
    position: relative;
    z-index: 1;
    margin-top: 100px;
}

.event-item {
    height: 250px;
    width: 100%;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.event-item img {
    height: 100%;
    width: 100%;
    transition: all .4s ease 0s;
}

.event-item:hover img {
    transform: scale(1.2);
    transition: all .4s ease 0s;
}

.event-item .date {
    position: absolute;
    background: #00A651;
    color: #fff;
    padding: 13px 20px;
    top: 89px;
    left: 0;
    font-weight: 700;
}

.event-content {
    background: #fff;
    padding: 31px 20px;
}

.content h3 {
    font-size: 18px;
    color: #444;
    padding-bottom: 17px;
    cursor: pointer;
}

.content h3:hover {
    color: #0D8243;
}

.content p {
    font-size: 14px;
    line-height: 22px;
}

.meta {
    margin-top: 22px;
    font-size: 15px;
}

.meta-1 {
    margin-left: 225px;
    margin-top: -23px;
    font-size: 15px;
}

.meta span {
    color: #00A651;
    font-weight: 600;
}

.meta i {
    background: green;
    color: #fff;
    height: 22px;
    width: 22px;
    font-size: 10px;
    text-align: center;
    line-height: 21px;
    border-radius: 50%;
    margin-right: 5px;
}

.meta-1 i {
    background: green;
    color: #fff;
    height: 22px;
    width: 22px;
    font-size: 10px;
    text-align: center;
    line-height: 21px;
    border-radius: 50%;
    margin-right: 5px;
}

/*======== our-newsfeed css ========*/

.newsfeed-item {
    height: 200px;
    width: 100%;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.newsfeed-item img {
    height: 100%;
    width: 100%;
    transition: .4s;
}

.newsfeed-item:hover img {
    transform: scale(1.2);
    transition: .4s;
}

.newsfeed-item .edu {
    position: absolute;
    background: #00A651;
    color: #fff;
    padding: 6px 20px;
    top: 170px;
    left: 0;
    font-weight: 700;
}

.newsfeed-content {
    background-color: #fff;
    box-shadow: 0px 1px 10px -2px #DDDDDD;
}

.news-pera h4 {
    font-size: 18px;
    color: #444;
    padding: 29px 17px 13px 23px;
    cursor: pointer;
}

.news-pera h4:hover {
    color: #0D8243;
}

.news-pera p {
    line-height: 23px;
    color: #6b6363;
    padding-bottom: 21px;
    padding: 5px 17px 13px 23px;
}

.feed {
    font-size: 13px;
    margin-left: 23px;
}

.feed i {
    color: #0a8044;
    margin-right: 5px;
}

.feed span {
    margin-right: 32px;
}

.feed-1 {
    margin-top: 20px;
    background: #00A651;
    padding: 8px;
    color: #fff;
    cursor: pointer;
}

.feed-1 i {
    margin-right: 10px;
}

/*======== footer css ========*/

.footer {
    background: url(../images/bg-4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 440px;
    width: 100%;
    position: relative;
    z-index: 1;
}

.footer:before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #003502;
    opacity: .89;
    z-index: -1;
}

.footer-title {
    height: 1px;
    width: 233px;
    position: relative;
    left: 135px;
    transform: translateX(-50%);
}

.footer-title:before {
    position: absolute;
    content: "";
    transform: translateX(-50%);
    height: 2px;
    width: 53px;
    background: #00A651;
    bottom: -29px;
    margin-left: 25px;
}

.footer-content {
    margin-top: 70px;
}

.footer-title h4 {
    color: #fff;
    font-size: 18px;
    letter-spacing: 2px;
}

.title {
    margin-top: 61px;
    color: #fff;
}

.title p {
    font-size: 15px;
    line-height: 25px;
    padding-bottom: 25px;
}

.title i {
    margin-right: 10px;
    padding-bottom: 18px;
    font-size: 18px;
}

.title span a {
    text-decoration: none;
    color: #fff;
}

.title span a:hover {
    color: #0D8243;
}

.title span {
    font-size: 15px;
    letter-spacing: 1px;
}

.footer-mwnu {
    margin-top: 66px;
    margin-left: 20px;
}

.footer-mwnu ul li {
    list-style: none;
}

.footer-mwnu ul li a {
    text-decoration: none;
    color: #fff;
}

.footer-mwnu ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 33px;
}

.ftr-mnu ul li a {
    font-size: 14px;
    margin-left: -1px;
}

.gallery {
    margin-top: 55px;
    margin-left: 20px;
}

.glrry {
    margin-top: -14px;
}

.footer-info {
    margin-top: 63px;
    margin-left: 20px;
}

.footer-info p {
    color: #fff;
    font-size: 15px;
    line-height: 25px;
    padding-bottom: 20px;
}

.footer-info input {
    padding: 9px 20px 9px 25px;
}

button.ftr-btn {
    margin-top: 21px;
    border: none;
    padding: 10px 28px;
    font-size: 15px;
    color: green;
    font-weight: 600;
    cursor: pointer;
    margin-left: 3px;
}

button.ftr-btn:hover {
    background-color: #00A651;
    color: #fff;
}

.footer-mwnu ul li a:hover {
    color: #27e427;
}

/*======== footer-bottom css ========*/

.footer-bottom {
    background-color: #00a651;
    padding: 6px;
}

.footer-bottom-left {
    margin-top: 7px;
    font-size: 14px;
    color: #fff;
}

.footer-bottom-left p a {
    text-decoration: none;
    color: #fff;
}

.footer-bottom-right {
    float: right;
    display: flex;
}

.ftr-btm-menu {
    margin-top: 5px;
}

.ftr-btm-menu ul li {
    list-style: none;
    display: inline-block;
    margin-right: 18px;
}

.ftr-btm-menu ul li a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}

.ftr-btm-menu ul li a:hover {
    color: #ddd;
}


.footer-social {
    position: relative;
    margin-left: 24px;
}

.footer-social:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 1px;
    left: -20px;
    top: 6px;
    background-color: #00ff00;
}

.footer-social ul li {
    list-style: none;
    display: inline-block;
    margin-right: 2px;
}

a.fecebook {
    color: #0054a6;
    transition: .3s;
}

a.fecebook:hover {
    background-color: #0054a6;
    color: #fff;
}

a.youtube {
    color: #c4302b;
    transition: .3s;
}

a.youtube:hover {
    background: #c4302b;
    color: #fff;
}

a.teitter {
    color: #38a1f3;
    transition: .3s;
}

a.teitter:hover {
    background: #38a1f3;
    color: #fff;
}

a.google {
    color: #cc3333;
    transition: .3s;
}

a.google:hover {
    background: #cc3333;
    color: #fff;
}

.footer-social ul li a {
    display: inline-block;
    width: 28px;
    height: 28px;
    background-color: #fff;
    border-radius: 100%;
    text-align: center;
    line-height: 28px;
    font-size: 12px;
}